# Ignore class files
*.class

# Ignore Eclipse / Netbeans files
*.project
*.classpath
bin/

# Ignore Project report
DHT-Chord/*

# Ignore HW1 files
HW1/*

# Ignore RMI Exercise
RMI-Exercise/*


/HW4/nbproject/private/
/HW4/build/
/HW4/dist/